<div class="auth-container-small">
  <h2 class="auth-header-small">Recuperar contraseña</h2>

  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }, local: true) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="form-group">
      <%= f.label :email, "Correo electrónico", class: "form-label-bold" %>
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
    </div>

    <div>
      <%= f.submit "Enviar instrucciones", class: "btn btn-primary btn-full" %>
    </div>
  <% end %>

  <div class="auth-footer-simple">
    <%= render "devise/shared/links" %>
  </div>
</div>
